body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:27%;
    
}

.top-container {
    background-color:  #EAF6F6;
    position: relative;
    padding-top: 100px;
} 


.bottom-container {
    background-color:  #66BFBF;
    padding: 20px 0 2px;   
}
    

.hardwork-img {
    float: left;
}
.developer-img {
    float: right;
}

.success {
    line-height: 2;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
}
.skill-row2 {
    line-height: 2;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
}
.skills {
    line-height: 2;
}
.profile {
    line-height: 2;
}


.Pro {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
    
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 3px #737373;
    -moz-box-shadow: 0px 1px 3px #737373;
    box-shadow: 0px 1px 3px #737373;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
.email-lnk {
    color: #11999E;
    text-align: center;   
}
p {
    font-family: 'Merriweather', serif;
    color: #545454;
    text-shadow: none;
}
.intro {
    width: 30%;
    margin: auto
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.hire-me {
    text-decoration: none;
    color: #11999E;
}
.hire-me:hover {
    color: #EAF6F6;
}